body {
   background-color: #fffbf7;
    margin: 0;
    font-family: "open sans";

 }

h1 {
    color: #025157;
    font-family: alegreya , serif;
    font-weight: 900;
    font-size: 60px;
}
h4 {
   color: #46484c;
   font-weight: 500;
}
p {
    color: #8b8b8bcc;
 }

button {
    color: #fff;
    background-color: #025157;
 }

.header {
    margin: 40px 20px 0px 20px;
 }

.header li {
    display: inline;
 }

 .header > * {
    display: inline-block;
    font-size: 16px;
 }

 header .navbar {
    width: 60%
    text-align center;
}

.header> .actions {
    width: 20%;
    text-align: rigth;
 }

 .main {
     margin-top: 150px;
     text-align: center;
 }

 .main image-propiedades {
   width: 80%;
   max-width: 1000px;
}